:root {
    --bg: #0f0f0f;
    --grey: #2d2e2e;
    --btn-blue: #3891a6;
    --accent: #23ce6b;
    --text-white: #fbfbfb;
}

.edit-profile{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-profile-header{
    color: #0f0f0f;
}

.input-field-label{
    color: #0f0f0f;
    margin-left: 4px;
    margin-bottom: 10px;
    align-items: center;
    padding-bottom: 50px;
    font-size: 22pt;
}

.edit-profile-input{
    height: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: var(--text-white);
    width: 90%;
    border-radius: 10px;
    padding: auto;
    padding-left: 25px;
    padding-right: 25px; 
    border: 2px solid var(--border-color);
    font-size: 14pt;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-left: 25px; 
  }

.update-button {
    background-color: var(--btn-blue);
    color: var(--text-white);
    width: 50%;
    height: 40px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    padding: auto;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .back-button {
    background-color: var(--btn-blue);
    color: var(--text-white);
    width: 90%;
    height: 40px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    margin-top: 20px;
    padding: auto;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
